<div id="queue">

    <div class="queue-list">

        {% for token in tokens %}

            <div class="queue-row">

                <div class="queue-token">
                    {{ event.token_prefix }}-{{ token.number|stringformat:"03d" }}
                </div>


                <div class="queue-status">

                    {% if token.status == "waiting" %}

                        <span class="status-waiting">
                            Waiting
                        </span>

                    {% elif token.status == "serving" %}

                        <span class="status-serving">
                            Serving
                        </span>

                    {% elif token.status == "finished" %}

                        <span class="status-finished">
                            Finished
                        </span>

                    {% else %}

                        <span>
                            {{ token.get_status_display }}
                        </span>

                    {% endif %}

                </div>


                {% if token.counter %}

                    <div class="queue-counter">
                        {{ token.counter.name }}
                    </div>

                {% endif %}

            </div>

        {% empty %}

            <div class="queue-empty">
                No tokens generated yet.
            </div>

        {% endfor %}

    </div>

</div>